.signForm {
	min-width: 150px;
	max-width: 330px;
	height: auto;

	input {
		width: 99%;
		height: 27px;
		margin-bottom: 5px;
		font-size: large;
		border-radius: 7px;
		padding-left: 10px;
		border: 1px dashed gray;
	}

	input:focus {
		outline: none;
		// background-color: rgb(247, 253, 255);
		transform: translateX(-0.5%);
		width: 101%;
		border-style: solid;
	}

	button {
		margin-top: 20px;
	}

	p {
		margin: 0;
		display: inline;
		color: rgb(210, 75, 75);
	}
}

.fa-google {
	color: rgb(224, 2, 2);
	margin-left: 5px;
}

#google-signin {
	margin-top: 15%;
}

.login-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
a {
	margin-top: 10px;
}

.down-20 {
	margin-top: 20px;
}
