li {
	width: '40px';
	height: '40px';
}

.history-point {
	width: 27px;
	height: 27px;
	border-radius: 5px;
	display: 'flex';
	justify-content: 'center';
	align-items: 'center';
	margin: auto;
	margin-top: 2px;
}

$run-color: rgb(255, 124, 98);
.history {
	position: absolute;
	top: 88px;
	right: 12px;
	z-index: 99;
	color: black;
	width: 32px;
	height: 32px;
	border-radius: 5px;
	border: 2px solid $run-color;
	display: grid;
	justify-items: center;
	align-items: center;
	background-color: $run-color;
	user-select: none;
	.fa-clock-rotate-left {
		font-size: x-large;
		color: white;
	}
	.fa-clock-rotate-left:hover {
		transition: all 700ms ease-out;
		transform: rotate(-360deg);
	}
}

.history-points {
	background-color: $run-color;
	padding-top: 6px;
	padding-bottom: 4px;
	border-radius: 5px;
	position: absolute;
	width: 36px;
	top: 118px;
	right: 12px;
	z-index: 9999999;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;
}
