$sign-color: white;

#welcome {
	width: 400px;
}

.dark-sign {
	fill: rgb(205, 205, 205);
	stroke: rgb(205, 205, 205);
}

.light-sign {
	fill: black;
	stroke: black;
}

.welcome-page {
	// background-color: rgb(180, 227, 237);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#sign {
	width: 35%;
}

.st0 {
	stroke-width: 2;
	stroke-miterlimit: 10;
}

.svg-sing {
	stroke-width: 8px;
	fill: none;
}

#graphi {
	stroke-dasharray: 8087;
	stroke-dashoffset: 8087;
	animation: sign 2.5s cubic-bezier(0.3, 0.4, 0.2, 0.1) forwards;
}

@keyframes sign {
	0% {
		stroke-dashoffset: 8087;
	}
	100% {
		stroke-dashoffset: 4100;
	}
}

#Q {
	stroke-dasharray: 1155;
	stroke-dashoffset: 1155;
	animation: signQ 0.7s cubic-bezier(0.3, 0.4, 0.2, 0.1) 3.51s forwards;
}

@keyframes signQ {
	0% {
		stroke-dashoffset: 1155;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

#L {
	stroke-dasharray: 747;
	stroke-dashoffset: 747;
	animation: signL 0.7s cubic-bezier(0.3, 0.4, 0.2, 0.1) 4.21s forwards;
}

@keyframes signL {
	0% {
		stroke-dashoffset: 747;
	}
	100% {
		stroke-dashoffset: 0;
	}
}

#i-dot {
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	transform-box: fill-box;
	animation: dotJump 1s ease-in-out 2500ms forwards;
	opacity: 0;
}

@keyframes dotJump {
	0% {
		opacity: 1;
	}
	20% {
		transform: translateY(-40px);
	}
	28% {
		transform: translateY(-40px);
	}
	48% {
		transform: translateY(0px);
		transform: scaleY(0.7);
	}
	62% {
		transform: translateY(-25px);
	}
	68% {
		transform: translateY(-25px);
	}
	82% {
		transform: translateY(0px);
		transform: scaleY(0.8);
	}
	90% {
		transform: scaleY(1);
	}
	100% {
		opacity: 1;
	}
}

#qs {
	stroke-dasharray: 179;
	stroke-dashoffset: 179;
	animation: sign_qs 0.2s cubic-bezier(0.3, 0.4, 0.2, 0.1) 5.01s forwards;
}

@keyframes sign_qs {
	0% {
		stroke-dashoffset: 179;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
